{% extends "common/base.html" %} {% block content %}
    {% include "remote_management/host_management.html" %}
{% endblock content %}
{% block js %}
    <script src="https://unpkg.com/react/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>
    <script src="{{ url_for('static', filename='js/host_management.js') }}"></script>
    <script>
        function Load() {
            ReactDOM.render(React.createElement(HostManagement.AddHost, {
                add_host: "{{ url_for('app.host_add') }}"
            }), document.getElementById("host_management"))
        }

        window.onload = function () {
            Load()
        }
    </script>
{% endblock js %}