<section class="text-gray-700 body-font">
    <div class="py-6 px-4 sm:px-6 lg:px-8">
        <h3 class="text-xl font-black leading-tight text-gray-900">
            Hosts
        </h3>
    </div>
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg  bg-white divide-y">
            {% for host in hosts %}
                <div class="flex flex-wrap p-4 cursor-pointer"
                     onclick="window.location = '{{ url_for('app.host', host_id=host.id) }}'">
                    <div class="w-full flex flex-row">
                        <div class="h-full flex items-center">
                            <div class="flex-grow">
                                <h2 class="text-gray-900 title-font font-medium">{{ host.name }}</h2>
                                <p class="text-gray-500">Hostname: {{ host.hostname }}</p>
                            </div>
                        </div>

                        <div class="ml-auto flex items-center">
                            <a href="{{ url_for('app.host_actions', host_id=host.id, action='DELETE') }}" class="px-8">
                                <i class="fas fa-trash"></i>
                            </a>
                            <a href="{{ url_for('app.host', host_id=host.id) }}"><i
                                    class="fas fa-chevron-right fa-lg"></i></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>