{% extends "templates/form_base.html" %} {% block content %}
    <form action="{{ url_for('app.host_form') }}" method="post" class="m-10 sm:mt-0">
        <div class="m-8 flex justify-center">
            <div class="shadow overflow-hidden sm:rounded-md">
                <div class="px-4 py-5 bg-white sm:p-6">
                    <div class="grid grid-cols-3 gap-6">
                        <div class="col-span-2">
                            <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                            <input type="text" name="name" id="name" required value="{{ form.name }}"
                                   class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                        </div>
                        <div class="col-span-1">
                        </div>

                        <div class="col-span-2">
                            <label for="hostname" class="block text-sm font-medium text-gray-700">Host
                                Name</label>
                            <input type="text" name="hostname" id="hostname" required value="{{ form.hostname }}"
                                   class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                        </div>
                        <div class="col-span-1">
                            <label for="port" class="block text-sm font-medium text-gray-700">Port</label>
                            <input type="number" name="port" id="port" placeholder="22" value="{{ form.port }}"
                                   class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                        </div>
                        <div class="col-span-2">
                            <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                            <input type="text" name="username" id="username" value="{{ form.username }}"
                                   class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                        </div>
                        <div class="col-span-2">
                            <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                            <input type="text" name="password" id="password" value="{{ form.password }}"
                                   class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                        </div>
                        <div class="col-span-2">
                            <label for="authentication_method" class="block text-sm font-medium text-gray-700">Authentication
                                Method</label>
                            <select id="authentication_method" name="authentication_method"
                                    class="mt-1 block w-full py-2 px-3 border-2 border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm">
                                <option selected value>
                                </option>
                                <option value="password"{% if form.authentication_method == "password" %}
                                        selected="selected"{% endif %}>Password
                                </option>
                                <option value="key_pair"{% if form.authentication_method == "key_pair" %}
                                        selected="selected"{% endif %}>Key Pair
                                </option>
                            </select>
                        </div>
                        <div class="col-span-3">
                            <label for="private_key" class="block text-sm font-medium text-gray-700">Private Key</label>
                            <textarea name="private_key" id="private_key"
                                      class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">{{ form.private_key }}</textarea>
                        </div>
                        <div class="col-span-2 flex flex-col">
                            <div class="flex mr-auto">
                                <label for="encrypt_authentication"
                                       class="block text-md font-medium text-gray-700 w-full" style="min-width: 300px">Encrypt
                                    Authentication</label>
                                <input type="checkbox" name="encrypt_authentication" id="encrypt_authentication"
                                       class="mt-1 focus:ring-blue-500 focus:border-blue-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md border-2">
                            </div>
                            <div class="flex break-words" style="max-width: 300px">
                                <p class="block text-sm font-small text-gray-700 w-full">
                                    If this option is chosen. Every command run using this host will require your
                                    password to be inputted
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
                    <button type="submit"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
